/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral

- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)

## Typography

### Body Copy

- Font size: 15px

### Fonts

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(90, 90, 90);
}

.top-section {
  text-align: center;
  margin: 4rem auto 0;
  max-width: 375px;
}

#line-1 {
  font-weight: 200;
  font-size: 1.7rem;
}

#line-2 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 1.4rem;
}
#intro-paragraph {
  color: rgb(168, 168, 168);
  margin-bottom: 2rem;
}

.card {
  margin: 2rem auto;
  border-radius: 5px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  width: 20rem;
  height: 13rem;
  padding: 1rem 1.8rem;
}

.card h1 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.9rem;
  color: rgb(167, 167, 167);
  margin-bottom: 2.5rem;
}

.card-1 {
  border-top: solid 4px hsl(180, 62%, 55%);
}

.card-2 {
  border-top: solid 4px hsl(0, 78%, 62%);
}

.card-3 {
  border-top: solid 4px hsl(34, 97%, 64%);
}

.card-4 {
  border-top: solid 4px hsl(212, 86%, 64%);
}

.card img {
  height: 50px;
  width: 50px;
}

.img-box {
  text-align: right;
}

@media (min-width: 1440px) {
  .top-section {
    max-width: 575px;
  }

  .card-section {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1050px;
  }
}
